<h2><%= @store.name %></h2>

<form action="/store" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="store-id" value="<%= @store.id %>">
  <div class="row">
    <div class="col-sm-6">
      <label for="store-name">update name:</label>
      <input type="text" name="store-name" class="form-control" value="<%= @store.name %>">
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <div id="shoes" class="row">
        <h2>update available shoes</h2>
        <div class="form-check">
          <% @shoes.each do |shoe| %>
            <%= @store.shoes.include?(shoe) ? "<div class='checkbox'><label><input value='#{shoe.id}' type='checkbox' name='shoes[][id]' checked>#{shoe.name}, #{shoe.price.to_currency}</label></div>" : "<div class='checkbox'><label><input value='#{shoe.id}' type='checkbox' name='shoes[][id]'>#{shoe.name}, #{shoe.price.to_currency}</label></div>" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <button type="submit" class="btn-lg btn-success outline">update store</button>
</form>
<br>
<form action="/stores" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="store-id" value="<%= @store.id %>">
  <button type="submit" class="btn-lg btn-danger outline">Delete store</button>
</form>